@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}

h2{
    text-align: center;
    margin-top: 20px;
}

.movie-detail-content{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    padding: 14px;

    .about-movie{
        display: flex;
        gap: 40px;
        
        background-color: white;

        .movie-img{
            background-color: white;
            img{
                width: 250px;
                height: 350px;
            }
        }

        .about-movie-text{
            background-color: white;
            width: 350px;

            .movie-title{

                h4{
                    background-color: white;
                    font-size: 26px;
                    margin-bottom: 30px;
                }
            }

            .movie-info{
                display: flex;
                flex-direction: column;
                gap: 11px;
                font-size: 15.5px;
                background: white;

                .movie-data{
                    background: white;
                    display: flex;
                    justify-content: space-between;

                    p{
                        background-color: white;
                    }
                }

            }
        }

        .movie-actors{
            padding: 5px;
            margin-top: 25px;
            margin-left: 70px;
            background-color: white;


            h4{
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                background-color: white;
                

                img{
                    width: 20px;
                    background-color: white;
                }
            }

            .movie-info-actors{
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 12px;
                font-size: 15.6px;
                margin-left: 14px;

                span{
                    background-color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1165px){
    .movie-detail-content{
        width: 90%;

        .about-movie{

            .movie-img{
                img{
                    width: 220px;
                    height: 330px;
                }
            }

            .about-movie-text{
                .movie-title{
                    h4{
                        font-size: 23.1px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .movie-detail-content{
        width: 100%;

        .about-movie{
            gap: 35px;

            .about-movie-text{

                .movie-title{
                    h4{
                        font-size: 20px;
                    }
                }

                .movie-info{
                    .movie-data.writer{
                        display: none;
                    }
                }
            }

            .movie-actors{
                margin-left: 40px;
            }
        }
    }

}

@media screen and (max-width: 786px){
    .movie-detail-content{
        

        .about-movie{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 26.5px;

            .about-movie-text{
                width: 250px;

                .movie-title h4{
                    text-align: center;
                }

                .movie-info{
                    .movie-data.director{
                        display: none;
                    }
                }

                .movie-actors{
                    margin-left: 0px;
                }
            }

            .movie-actors{
                margin-left: 10px;
            }
        }
    }
}

